body{
    width: 100%;
    height: 100%;
    background-image: url(../imagens/fundopg1.png);
    
}

.login_form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: rgb(251, 251, 251); */
    justify-content: center;
}

.login_header{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login_header img{
    width: 100px;
}

.login_header h1{
    color: #ffffff;
}

.login_input{
    border: 2px solid #0b3769;
    border-radius: 8px;
    color: #0b3769;
    font-size: 1em;
    max-width: 300px;
    width: 100%;
    outline: none;
    padding: 12px;
    font-family: 'Heebo', cursive;
}

.login_button {
    background-color: #e1e1e1;
    padding: 12px;
    border-radius: 8px;
    color: rgb(7, 7, 7);
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    width: 100px;
    font-family: 'Heebo', cursive;
    border: 10px;
}

.login_button:disabled {
    background-color: rgb(80, 82, 82);
    color: rgb(190, 16, 34);
    cursor: auto;
    font-family: 'Heebo', cursive;
}

.texto_entrada{
    color: #ffffff;
    font-family: 'Heebo', cursive;
}